language: elm
elm: elm0.19.1-3
env:
  global:
  - secure: C9poA+wbk5f2SMct/hZe2GDGRvGofIwoGJyvWQOkSVfV016YrtDMmOrrYXjx5qBmY3mO7dejG/D7yZHUKHqQO6QmAOMyrP1Efj1xqAZwOUH8z0I82mb7xjfd0pSrT/HHxd030orVRxqfOTXawvkRHcQ9/H3oREiHgV+IccFRVpTVf8avYREV7cds7p62VNj/3uK1De/etdnDxWFWEQldkdlE1dNE/KMX6SsJGs0JMMC8ubyG5sVIaBs9XPo6DPs9jphioyCmZbVzqms8F0Wirzn4OYbLIXMkV73OywCQmRBo41i/SOHIfACfKBzTnleQ8RwuCxMr9PxGD0s8+W8r1tsWYsr5nqxj8YtW2U9BI8a2P3yYyfw95jh2xrKYiJGHvVZaE0crB8xK9V7UurvrBZs1W402mKCmw0RCqc5HGyCwT4croJb6cj6IdVLurBbomcR3iUL8JuFPPihJdCVjJddO9hEnqcwr2MzcLNXR2MXIlSGX5WPAB+D7WYsfMfJwTdO2LvvToXPUc4dujnodWKjpk/PDAiOJNSEOdyTXOP/bQn7+9B9kwngfqTXdSM/EngabpdZhjRDSLqtkxzR6/3AMWvg/X0jKPds7Z1xn8cDcshOhFuHrKD6BacbkGuN7WHtemm+JCowSn70Yl/6xIWA1bpa6suFLzbCpvKXlHgk=
  - secure: iSktBKBarfcmVAGJtVbifKvQ8faPbWvkmcHbgjZkaCZFhcg8iTnszJIH2ht1qicsW9xnuIzitsl/hwB9ZaRY1dXhG9sVPtJYQeSvDgb34voPGXJ+0mewxFbGi1Li+bgq5jy9j2NoPtz95swHVXfVODToU1zP2Vmp6EMnLQhidQqXvR77T1QlYOxjFnJMSBSHz1cIIt5y94n5/DSYp5F4OYqq6ia1D9Vc1iecENHscQHzKRNVXTvnBJ/rYGObWA6PfV2cTnbRrB+XANxPAI8i8aV1S/YfmkiEw4SRmK3hRN909QDVKTjATOx7zL1/BuB09Br7HnePgOB04XugWDd3hIjFoNZr5fZ3JceFgNRwW93G24spCn8tOp4E0vZCfLSirmeJPAwAH8yFPVls9OLdcflu+N9HVzpgv2kZjk11Q5tblql5ZclmyvhJtQVfmi2kb7hfABE1soqLrkTcVKjUsbPbkPLCNgdjlVaMP569PBGfuxps8EUzhDvvvPvFEU49r1nnlNU10uhUvoNmWBhsnTEQEdAm2oNC7b9XxzE/0XctSXhd+5OwccIWfhSaJH5TpTmRwmX5cOSnnwp+N+pbYITWCvI82l3yftgA1Cykhd8EVeh9uwHZcv+6wEVbYje4d7qeaMh/dlW+GVztoYr9UTA7bKKYB4q1ok0oBbBc13A=
  - secure: sn5UJ+DXrtGvF7wU0roFz3Whd++kIFWSYg148phElgiqls4pUo93isGBM4XF6feeQqDrEybRPQqPcDnpsGR5kPnJrafrm6C9ZiKQMb2qDEGmSTIQ3dWapLvQJve1/pbEaaWXEQPEgTEcIZPkNaGUme6nMHwnDLIWBrkrgR9ugc0/IGgercGUJB3RVUYbF7WcsqwhILfqyZzDqZrlhaoIjLRFRfn8xvORiNki48lv9b5l5sHcGfX4Y41fUxCegXz6z63ClZr/G2jym1U416WKoTHi8BNXk9Tk5JApc5prxI9R9x9cQeauDMqFl38z9Noh0heeXxgmq3m72GhSq45avNgdDRA2SA6l3pgZeYMBs3TFFzZSgiRnr6BXF9lVSJcAKUP7+z7o5WYxSCEvEBRY8I11cK6QFM14Ssp63W0MxSlGBUu6pTXcRh5PyyqSHsavsbpWM8SnXc+SwLvkeP21VCBX4D5XZqp33ZDiGuSiUbNzzqnksESUwJ/Za6Ex5Jjk36qQbwP1vXoH0SFBMEWi44nQHVIw+nmoC0aQBX/6yk0li4W9szxpI+R+s03Vo1ZCg+l1aLXOU+Vhld/80rVJs0DnhcYJYyroH1wIAnYaMvtBBvC1U6bxWS+i7qI7lJrQ+C4mLSxo1TpjhdzhD1bQ8k8JO2bzaW0+GFoDH0RnPJI=
jobs:
  include:
  - stage: test
    script: 
      - elm-format --validate .
      - elm make src/Main.elm --optimize
    name: elm-format and optimization validation
  - script: elm-test
    name: elm-test test run
  - stage: deploy
    script:
    - openssl aes-256-cbc -K $encrypted_0d4cca618d57_key -iv $encrypted_0d4cca618d57_iv
      -in build_scripts/deploy_rsa.enc -out /tmp/deploy_rsa -d
    - eval "$(ssh-agent -s)"
    - chmod 600 /tmp/deploy\_rsa
    - chmod u+x build_scripts/optimize.sh
    - ssh-add /tmp/deploy\_rsa
    - echo -e "Host $DEPLOY_HOST\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
    - npm install -g uglify-js
    - "./build_scripts/optimize.sh src/Main.elm"
    - scp finsm.min.js $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_DIRECTORY
    name: Live Deployment
stages:
- test
- name: deploy
  if: "(branch = master) AND (tag IS present)"
